html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", serif;
  color: #3c3d47;
}

#header {
  background-color: #d35656;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-img {
  width: 3rem;
}

.nav-item {
  padding: 0 0.5rem 0;
}

.nav-link {
  font-size: 1.4rem;
}

#home {
  background-color: #d35656;
  text-align: center;
}

.title-heading {
  font-family: "Quicksand";
  font-size: 6vw;
  font-weight: 900;
}

.sub-heading {
  font-size: 2vw;
}

.title {
  padding-top: 10%;
}

.svg-container {
  padding: 5% 4%;
}

.svg {
  width: 90%;
}

#about-me {
  background-color: #f9d5bb;
  padding: 7% 15%;
  text-align: center;
}

.photo {
  margin: 0 0 2rem;
}

.about-me-span {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-me-p {
  line-height: 2;
}

.about-link {
  color: #3c3d47;
}

.about-link:hover {
  color: #23272b;
  text-decoration: none;
}

.btn-download {
  border-top-right-radius: 22% 72%;
  border-bottom-right-radius: 22% 72%;
  border-top-left-radius: 22% 72%;
  border-bottom-left-radius: 22% 72%;
}

.a-top {
  border-radius: 50%;
  bottom: 10px;
  color: #3c3d47;
  position: fixed;
  right: 10px;
  z-index: 3;
}

.a-top:hover {
  color: #23272b;
}

#my-skills {
  background-color: #f66767;
  padding: 7% 5%;
}

.my-skills-h3 {
  text-align: center;
}

.skills {
  margin: 2rem 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 1s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

.card-header {
  background-color: #f9d5bb;
  text-align: center;
}

.card-body {
  background-color: #f9d5bbb9;
}

.list {
  list-style-type: circle;
}

.list-items {
  margin: 0.5rem 0;
}

#my-projects {
  background-color: #f9d5bb;
  padding: 7% 1%;
  text-align: center;
}

.carousel-padding {
  height: 720px;
  padding: 1% 5% 6%;
}

.carousel-item h4 {
  margin-top: 3%;
}

.carousel-item p {
  line-height: 2;
  margin: auto;
  width: 80%;
}

.proj-link {
  color: #3c3d47;
}

.proj-link:hover {
  color: #23272b;
  text-decoration: none;
}

.screenshots {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 65%;
  margin: 3%;
  width: 80%;
}

#contact-me {
  background-color: #f66767;
  padding: 4% 5% 2%;
  text-align: center;
}

.btn-contact {
  border-top-right-radius: 22% 72%;
  border-bottom-right-radius: 22% 72%;
  border-top-left-radius: 22% 72%;
  border-bottom-left-radius: 22% 72%;
}

.links {
  margin: 2rem 0;
}

.link {
  color: #3c3d47;
  margin: 2rem;
}

.link:hover {
  color: #23272b;
}

.contact-p {
  color: #f9d5bb;
  font-size: 0.8rem;
}

@media (max-width: 696px) {
  .home-image {
    width: 100%;
  }

  .title-heading {
    font-size: 15vw;
  }

  .sub-heading {
    font-size: 6vw;
  }

  .carousel-padding {
    height: 500px;
  }

  .screenshots {
    height: 30%;
    width: 95%;
  }
}
