html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
  color: #3c3d47;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Ubuntu", sans-serif;
}

#nav {
  background-color: #d35656;
  padding-left: 2rem;
  padding-right: 2rem;
}

#home {
  background-color: #d35656;
  text-align: center;
}

.title-heading {
  font-family: "Gochi Hand";
  font-size: 5.625rem;
}

.btn-top {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 3;
}

.navbar-img {
  width: 3rem;
}

.nav-item {
  padding: 0 0.5rem 0;
}

.nav-link {
  font-size: 1.4rem;
}

.cloud-1 {
  left: 250px;
  margin: 30px 0;
  position: relative;
}

.cloud-2 {
  bottom: 200px;
  margin: 30px 0;
  position: relative;
  right: 20px;
}

.amusement-park {
  margin-top: 2.5rem;
}

#about-me {
  background-color: #f9d5bb;
  padding: 7% 15%;
  text-align: center;
}

.photo {
  margin: 0 0 2rem;
}

.about-me-h2 {
  margin-bottom: 1rem;
}

.about-me-p {
  line-height: 2;
}

.about-link {
  color: #3c3d47;
  text-decoration: underline;
}

.about-link:hover {
  color: #3c3d47;
  text-decoration: none;
}

#my-skills {
  background-color: #f66767;
  padding: 7% 5%;
}

.my-skills-h3 {
  text-align: center;
}

.skills {
  margin: 2rem 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 1s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

.card-header {
  text-align: center;
}

.list {
  list-style-type: circle;
}

.list-items {
  margin: 1rem 0;
}

#my-projects {
  background-color: #f9d5bb;
  padding: 7% 1%;
  text-align: center;
}

.carousel-padding {
  height: 720px;
  padding: 1% 5% 6%;
}

.carousel-item h4 {
  margin-top: 3%;
}

.carousel-item p {
  line-height: 2;
  margin: auto;
  width: 80%;
}

.proj-link {
  color: #3c3d47;
}

.proj-link:hover {
  color: #d35656;
}

.screenshots {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3%;
  width: 80%;
}

#contact-me {
  background-color: #f66767;
  padding: 4% 5% 2%;
  text-align: center;
}

.footer {
  padding: 3% 5% 0;
}

.footer-link {
  color: #3c3d47;
  margin: 2rem;
}

.footer-link:hover {
  color: #000;
}

.contact-p {
  color: #f9d5bb;
  font-size: 0.7rem;
  margin-top: 3%;
}

@media (max-width: 696px) {
  .amusement-park {
    width: 100%;
  }

  .title-heading {
    margin-top: 0;
  }

  .cloud-1,
  .cloud-2 {
    position: static;
    margin: 3rem auto;
  }

  .carousel-padding {
    height: 500px;
  }

  .screenshots {
    width: 95%;
  }
}
